:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #74A4BC;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.text {
  width: 60%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: block;
  margin: 1em auto;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: gray;
  width: 100%;
}